*.ssms_suo
*.ssmssln
*.ssmssqlproj
*.csproj
bin
obj
.vs
*.sln
*.user
*.zip
Configuration.cs
*.bat
Migrations
appsettings.json
/DBAdvancedEntityFramework/XmlAttributesLab-Demo/XmlAttributesDemo
/DBAdvancedEntityFramework/XMLProcessingLab/XMLProcessing
